/* Estilos Craftsy
======================= */

/* Globales */
* {
	box-sizing: border-box;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

body {
	background-image: url(../img/bg-2.png);
	font-family: sans-serif, Verdana, Tahoma;
	color: #444;
}

/* Container */
.container {
	width: 1140px;
	margin: 0 auto;
}

/* Header */
header {
	width: 1140px;
	margin-bottom: 20px;
	z-index: 999;
}
.logo {
	float:left;
	margin-right: 30px;
}
.main-nav {
	background-color: rgb(239, 76, 39);
	padding: 12px 15px;
	overflow: hidden;
}
.main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
.menu {
	float: left;
	overflow: hidden;
}
.main-nav li {
	float: left;
	margin-right: 30px;
	line-height: 39px; /* Debe coincidir con la altura del logo */
}
.main-nav li a:hover{
	text-decoration: underline;
}
.access{
	float: right;
}
.access li {
	margin-right: 0;
	margin-left: 15px;
}

/* Main */
main {
	width: 1140px;
	padding-top: 10px;
	overflow: hidden;
}
.product-container {
	float: left;
	width: 800px;
	background-color: #fff;
	overflow: hidden;
	margin-right: 20px;
}
.producto {
	margin: 10px 10px 20px 10px;
	width: 380px;
	float: left;
}
.producto:nth-child(odd) {
	clear: left;
}
.producto img {
	width: 100%;
}
.name {
	font-size: 20px;
}
.more {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	background-color: rgba(255, 0, 0, 0.8);
	padding: 10px 12px;
}

.more:hover {
	background-color: rgba(255, 0, 0, 1);
}

/* Left column */
.left-column{
	float: left;
	width: 320px;
}
.left-column section {
	margin-bottom: 30px;
}
.left-column h2 {
	padding: 10px;
	margin: 0 0 10px 0;
	background: #fff;
	border: 1px solid lightblue;
}
.tutorials-container,
.ads-container {
	background: #fff;
	border: 1px solid lightblue;
}
.tutorial {
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid lightblue
}
.tutorial img {
	float: left;
	margin-right: 10px;
}
.ads {
	text-align: center;
	padding: 10px;
}


/* Formularios
=============================== */

.form-container {
	max-width: 350px;
	margin: 0 auto;
}
.form-container h1 {
	text-align: center;
	text-transform: uppercase;
}
.field-group {
	margin-bottom: 20px;
}
.access-form {
	overflow: hidden;
}
.access-form label {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block
}
.field-group input {
	width: 100%;
  border: 1px solid #ccc;
  padding: 8px 38px 8px 8px;
}
.remember-me {
	text-align: right;
}
.remember-me input {
	width: auto;
}
.alert-hide {
	color: rgb(239, 76, 39);
	font-size: 14px;
	margin-top: 5px;
}
.access-form button {
	font-size: 16px;
  background-color: #3c8dbc;
  border: 1px solid #3c8dbc;
  color: #fff;
  text-transform: capitalize;
  width: 40%;
  padding: 8px 14px;
  border-radius: 10px;
	cursor: pointer;
}




















/**/
